# Forzar el uso de npm
package-lock=true
prefer-offline=true
# Configuración de caché
cache-max=0
cache-min=9999999
# Configuración de red
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
# Configuración de seguridad
audit=false
fund=false
# Configuración de scripts
ignore-scripts=false
# Configuración de paquetes opcionales
optional=false
# Configuración de dependencias
save-exact=true
# Configuración de Node.js
node-version=20.11.0
# Configuración de npm
npm-version=10.2.4
